@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	-webkit-text-size-adjust: none;
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	background: #f5f7f9;
}

a,
button,
label {
	text-decoration: none !important;
	outline: none !important;
	cursor: pointer;
}

h1,
h2,
h3,
h6,
p,
ul,
li,
figure {
	margin: 0;
	padding: 0;
	line-height: normal;
	font-weight: normal;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

::-webkit-scrollbar-track {background-color:#fff}
::-webkit-scrollbar {width:6px;}
::-webkit-scrollbar-thumb {background-color:#CACCD1; border-radius:25px; -webkit-border-radius:25px}

.full-width {
	float: left;
	width: 100%;
	position: relative;
}

.text-center {
	text-align: center;
}

.anim {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.5);
	min-height: 60px;
}

header .logo {
	float: left;
	width: 80px;
	padding: 15px;
}

header .logo img {
	display: block;
	width: 100%;
	height: auto;
}

header .menu {
	float: right;
}

header .menu .menu-icon {
	display: block;
	width: 36px;
	padding: 9px;
	margin: 15px;
	background: #FFF;
	border-radius: 5px;
	border: 1px solid #eee;
}

header .menu .menu-icon:hover {
	-webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

header .menu .menu-icon img {
	display: block;
	width: 100%;
	height: auto;
}

.navigation {
	position: fixed;
	top: 0;
	width: 350px;
	right: -360px;
	z-index: 99999;
	background: #111;
	color: #fff;
	min-height: 100vh;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.navigation .right-align {
	text-align: right;
}


.navigation .nav-close {
	position: absolute;
	top: 30px;
	right: 35px;
	display: inline-block;
	width: 25px;
}

.navigation .nav-close:hover {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.navigation ul {
	display: block;
	width: 100%;
	padding: 50px 30px 30px;
}

.navigation ul li {
	display: block;
	padding: 25px;
}

.navigation ul li a,
.navigation ul li a:visited {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navigation ul li a:hover {
	font-weight: 500;
	background: -webkit-linear-gradient(0deg, #2368ea, #e84b78);
	background: -webkit-gradient(linear, left top, right top, from(#2368ea), to(#e84b78));
	background: linear-gradient(to right, #2368ea 0%, #e84b78 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner {
	height: 100vh;
	background: url(../images/banner-pic-1.jpg) no-repeat top left;
	background-size: cover;
	background-position: center;
}

.profile {
	padding: 250px 60px;
	background: url(../images/profile-bg.jpg) no-repeat;
	background-position: 20% top;
}

.profile .profile-content {
	float: left;
	width: 550px;
	background: rgba(0, 0, 0, 0.15);
	padding: 30px;
	color: #FFF;
	line-height: 35px;
	font-size: 24px;
	font-weight: 300;
}

.profile .profile-content span {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}

.latest-blogs {
	background: #FFF;
	padding: 100px 20px;
}

.latest-blogs h1 {
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
	font-family: 'Playfair Display', serif;
}

.latest-blogs .blogs-listing {
	display: block;
	width: 1300px;
	margin: 0 auto;
}

.latest-blogs .blogs-listing ul li {
	text-align: center;
	padding: 15px;
	border: 1px solid #e1e1e1;
	cursor: pointer;
}

.latest-blogs .blogs-listing ul li a,
.latest-blogs .blogs-listing ul li a:hover,
.latest-blogs .blogs-listing ul li a:active {
	color: #000;
}

.latest-blogs .blogs-listing .img-container {
	display: block;
	width: 100%;
	height: 180px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}

.latest-blogs .blogs-listing .img-container img {
	display: inline-block;
	width: 350px;
	height: 200px;
	object-fit: cover;
	transition: transform 1s, filter 0.5s ease-in-out;
	filter: grayscale(0);
}

.latest-blogs .blogs-listing li:hover img {
	filter: grayscale(100%);
	transform: scale(1.1);
}

.latest-blogs .blogs-listing h2 {
	font-size: 16px;
	line-height: 25px;
	padding: 5px;
}

.latest-blogs .blogs-listing .img-container .date {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 999;
	display: inline-block;
	font-size: 10px;
	background: #FFF;
	color: #333;
	border-radius: 3px;
	padding: 3px 5px;
}


.latest-blogs .blogs-listing .bx-wrapper {
	box-shadow: none;
	display: block;
}

.latest-blogs .blogs-listing .bx-wrapper div {
	display: block;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-viewport {
	height: auto !important;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-pager-item {
	display: inline-block;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-pager,
.latest-blogs .blogs-listing .bx-wrapper .bx-controls-auto {
	bottom: -40px;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-controls .bx-controls-direction {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-controls .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	border: 1px solid #e1e1e1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-controls .bx-controls-direction a:hover {
	background-color: #f2f2f2;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
	left: 0px;
	background: url(../images/prev.svg) no-repeat;
	background-position: center;
	background-size: 10px;
}

.latest-blogs .blogs-listing .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
	right: 0px;
	background: url(../images/next.svg) no-repeat;
	background-position: center;
	background-size: 10px;
}

/* Contact CSS */

.contact-container {
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	padding: 150px 0;
	text-align: center;
}

.contact-container h1 {
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
	font-family: 'Playfair Display', serif;
	color: #FFF;
}

.contact-container:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: url(../images/contact-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.contact-container ul {
	display: block;
	width: 500px;
	margin: 20px auto;
}

.contact-container ul li {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.contact-container ul li input {
	height: 60px;
	line-height: 60px;
}

.contact-container ul li input,
.contact-container ul li textarea {
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #999;
	background: none;
	padding: 15px;
	font-size: 16px;
	color: #FFF;
}

.contact-container ul li input.error {
	border-bottom: 1px solid #FF0000;
}

.contact-container ul li textarea {
	font-size: 18px;
	min-height: 200px;
	resize: vertical;
}

.contact-container ul li a {
	display: block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	border-radius: 30px;
	border: 0;
	margin: 50px auto 20px;
	font-size: 16px;
	color: #FFF;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2368ea+0,e84b78+100 */
	background: #2368ea;
	/* Old browsers */
	background: -moz-linear-gradient(left, #2368ea 0%, #e84b78 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #2368ea 0%, #e84b78 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #2368ea 0%, #e84b78 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2368ea', endColorstr='#e84b78', GradientType=1);
	/* IE6-9 */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.contact-container ul li a:active {
	transform: scale(0.9);
	letter-spacing: 2px;
}

/* Footer CSS */

footer {
	background: #f1f1f1;
}

footer .links-map {
	background: #2a313d;
	color: #FFF;
	padding: 50px 20px;
}

footer .container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 0 auto;
}


footer p {
	font-size: 14px;
	color: #FFF;
	padding: 20px 10px 0 0;
	line-height: 20px;
}

footer .title2 {
	font-family: 'Playfair Display', serif;
	color: #FFF;
	font-size: 24px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

footer .title2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 2px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2368ea+0,e84b78+100 */
	background: #2368ea;
	/* Old browsers */
	background: -moz-linear-gradient(left, #2368ea 0%, #e84b78 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #2368ea 0%, #e84b78 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #2368ea 0%, #e84b78 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2368ea', endColorstr='#e84b78', GradientType=1);
	/* IE6-9 */
}

footer ul li a {
	display: inline-block;
	color: #aaa;
	margin-bottom: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	font-size: 14px;
}

footer ul li a:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -10px;
	width: 8px;
	height: 8px;
	border-top: 1px solid #2368ea;
	border-right: 1px solid #e84b78;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 0;
}

footer ul li a:hover {
	padding-left: 12px;
	color: #fff;
}

footer ul li a:hover:before {
	left: -5px;
	opacity: 1;
}

footer .address a {
	color: #FFF;
}

footer .address a:hover {
	text-decoration: underline !important;
}

footer .address .tel {
	font-size: 20px;
	font-weight: 500;
}

footer .address p {
	padding: 10px 0;
}

footer .copyright {
	float: left;
	font-size: 12px;
	line-height: 25px;
	padding: 15px;
}

footer .social-icons {
	float: right;
	padding: 15px;
}

footer .social-icons a {
	display: inline-block;
	width: 27px;
	height: 26px;
	border: 1px solid #FFF;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	text-align: center;
	line-height: 24px;
	margin-left: 5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

footer .social-icons a i {
	color: #2368ea;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.social-icons a:hover {
	border: 1px solid #e84b78;
	background: #e84b78;
}

.social-icons a:hover i {
	color: #FFF;
}


/* Media Query*/

@media screen and (max-width: 1220px) {
	.latest-blogs .blogs-listing {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.profile {
		padding: 450px 60px 50px;
		background-position: 35% top;
	}

	.profile .profile-content {
		width: 100%;
	}

	footer .container {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 50px;
	}
}

@media screen and (max-width: 767px) {

	.navigation {
		width: 100%;
	}
	
	.profile .profile-content {
		padding: 15px;
	}

	.contact-container {
		padding: 110px 0 50px;
		height: auto;
	}

	.contact-container h1 {
		padding-bottom: 10px;
	}

	.contact-container ul {
		width: calc(100% - 60px);
		margin: 0px 30px 20px;
	}

	.contact-container ul li textarea {
		min-height: 150px;
	}

	footer .container {
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}

}
